<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.pa.oceanspolluters.app">

    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/company_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.LoginActivity"
            android:label="@string/company_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ParameterActivity"
            android:label="@string/title_activity_parameters"
            android:parentActivityName="ui.LoginActivity"/>
        <activity android:name=".ui.DockerHomeActivity"
            android:label="@string/title_activity_docker_home"
            android:parentActivityName="ui.LoginActivity"/>

        <activity android:name=".ui.CaptainHomeActivity"
            android:label="@string/title_activity_captain_home"
            android:parentActivityName="ui.LoginActivity">
        </activity>
        <activity android:name=".ui.CaptainShipViewActivity"
            android:label="@string/ship_details"
            android:parentActivityName="ui.CaptainHomeActivity">
        </activity>
        <activity android:name=".ui.CaptainShipAddEditActivity"
            android:parentActivityName="ui.CaptainHomeActivity">
        </activity>
        <activity android:name=".ui.AdministratorHomeActivity"
            android:label="@string/title_activity_administrator_home"
            android:parentActivityName="ui.LoginActivity">
        </activity>
        <activity android:name=".ui.LogisticManagerHomeActivity"
            android:label="@string/title_activity_logistic_manager_home"
            android:parentActivityName="ui.LoginActivity">
        </activity>
    </application>

</manifest>